/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-size: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-size: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-size: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-semibold";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-size: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-italic";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-size: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans.woff") format("woff"), url("../fonts/open-sans.ttf") format("truetype");
  font-size: normal;
  font-weight: normal;
}
.page {
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 1440px) {
  .page--index {
    background-image: url("../images/page_designe/blue-design.svg");
    background-size: cover;
    background-position: center 401px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) {
  .page--post {
    background-image: url("../images/page_designe/redspot-center.png"), url("../images/page_designe/blue-design-bottom.png");
    background-position: right top 2480px, center bottom;
    background-repeat: no-repeat;
  }
}
.page__header {
  margin-bottom: 24px;
}
@media (min-width: 414px) {
  .page__header {
    margin-bottom: 16px;
  }
}
.page__breadcrumbs {
  margin: 0 0 24px;
}
@media (min-width: 414px) {
  .page__breadcrumbs {
    margin: 0 0 32px;
  }
}
@media (min-width: 768px) {
  .page__breadcrumbs {
    margin: 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .page__breadcrumbs {
    margin: 0 0 30px;
  }
}
@media (min-width: 768px) {
  .page__breadcrumbs--post {
    margin: 0 0 54px;
  }
}
.page__headline--home {
  margin-bottom: 59px;
}
@media (min-width: 768px) {
  .page__headline--home {
    margin-bottom: 55px;
  }
}
@media (min-width: 1024px) {
  .page__headline--home {
    margin-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .page__headline--home {
    margin-bottom: 96px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 320px;
  overflow: hidden;
}
@media (min-width: 414px) {
  .container {
    width: 414px;
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 120px;
  }
}
.container__sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .container__sidebar {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 36px;
  }
}
@media (min-width: 1024px) {
  .container__sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
.container__paragraph {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 414px) {
  .container__paragraph {
    gap: 16px;
  }
}
@media (min-width: 768px) {
  .container__paragraph {
    display: flex;
  }
}
.container--wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1024px) {
  .container--wrap {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .container--wrap {
    gap: 228px;
  }
}
@media (min-width: 1024px) {
  .container--ontablet-l {
    margin-bottom: 71px;
  }
}
@media (min-width: 1440px) {
  .container--ontablet-l {
    margin-bottom: 0px;
  }
}

.header {
  display: flex;
  width: 100%;
  height: 56px;
  border: 1px solid #eff5fb;
}
@media (min-width: 414px) {
  .header {
    height: 72px;
  }
}
@media (min-width: 1024px) {
  .header {
    height: 76px;
  }
}
.header__content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .header__content {
    justify-content: unset;
    position: relative;
  }
}
.header__burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
@media (min-width: 1024px) {
  .header__burger-menu {
    display: none;
  }
}
.header__burger-menu-container {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 48px;
  height: 34px;
}
.logo-container {
  width: 48px;
  height: 34px;
}

.header {
  display: flex;
  width: 100%;
  height: 56px;
  border: 1px solid #eff5fb;
}
@media (min-width: 414px) {
  .header {
    height: 72px;
  }
}
@media (min-width: 1024px) {
  .header {
    height: 76px;
  }
}
.header__content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .header__content {
    justify-content: unset;
    position: relative;
  }
}
.header__burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
@media (min-width: 1024px) {
  .header__burger-menu {
    display: none;
  }
}
.header__burger-menu-container {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 48px;
  height: 34px;
}
.logo-container {
  width: 48px;
  height: 34px;
}

.nav {
  display: none;
}
@media (min-width: 1024px) {
  .nav {
    display: flex;
  }
}
.nav__list {
  margin-left: 32px;
  margin-right: 20px;
  display: flex;
  gap: 16px;
}
@media (min-width: 1440px) {
  .nav__list {
    margin-left: 51px;
    gap: 30px;
  }
}
.nav__item {
  width: max-content;
  display: flex;
  align-items: end;
  gap: 4px;
}
.nav__link {
  font-family: "Montserrat-medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 114%; /* 15.96px */
  letter-spacing: 0.25px;
  color: #333;
}
.nav__link--img {
  width: 14px;
  height: 14px;
}

.headline__title {
  margin-bottom: 24px;
  font-family: "Montserrat-bold";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}
@media (min-width: 414px) {
  .headline__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .headline__title {
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 56px;
  }
}
.headline__categories {
  margin-bottom: 24px;
}
@media (min-width: 414px) {
  .headline__categories {
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .headline__categories {
    margin-bottom: 23px;
  }
}
.headline__post-list {
  margin: 0 0 28px;
}
@media (min-width: 768px) {
  .headline__post-list {
    margin: 0 0 33px;
  }
}
@media (min-width: 1024px) {
  .headline__post-list {
    margin: 0 0 35px;
  }
}
@media (min-width: 1440px) {
  .headline__post-list {
    margin: 0 0 56px;
  }
}

.breadcrumbs-content {
  height: 18px;
  display: flex;
}
.breadcrumbs-link {
  font-size: 12px;
  font-weight: normal;
  color: rgba(51, 51, 51, 0.7);
  line-height: 18px;
  letter-spacing: 0.25px;
}
.breadcrumbs-arrow {
  margin-left: 4px;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.categories {
  display: flex;
  gap: 8px;
  overflow-x: scroll;
  width: max-content;
}
@media (min-width: 768px) {
  .categories {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
}
.categories::-webkit-scrollbar {
  display: none;
}
.categories__filter {
  position: absolute;
  top: 8px;
  left: 8px;
}
.categories__filter--psyhologist {
  position: absolute;
  top: -8px;
  left: 0px;
}
.categories__link__post {
  display: inline-flex;
  padding: 6px 8px;
  margin-bottom: 8px;
  align-items: flex-start;
  gap: 4px;
  border: 1px solid #C1C5CD;
  background: rgba(255, 255, 255, 0.7);
}
.categories__link__post--psyhologist {
  display: inline-flex;
  padding: 0px 6px;
  margin-bottom: 8px;
  align-items: flex-start;
  gap: 4px;
  background: rgba(243, 244, 248, 0.7);
}
.categories__link {
  padding: 6px 8px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #333;
  font-family: "Montserrat-semibold";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 24px;
  border: 1px solid #C1C5CD;
}
.categories__link--smile::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../images/categories-link/smile.png");
}
.categories__link--unicorn::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  padding: 1px;
  background-image: url("../images/categories-link/unicorn.png");
}
@media (min-width: 414px) {
  .categories__link--unicorn--self {
    border: 2px solid #16C8BB;
  }
}
.categories__link--psyhologist {
  padding: 0px 6px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #333;
  font-family: "Montserrat-medium";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 6px;
  border: none;
}
.categories__link--paper::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 24px;
  background-image: url("../images/card__psyhologist/paper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.categories__link--camera::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 24px;
  background-image: url("../images/card__psyhologist/camera.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post {
  display: block;
  position: relative;
  border: 1px solid #dedede;
  border-radius: 16px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .post--size-s {
    display: block;
    width: 352px;
  }
}
@media (min-width: 1024px) {
  .post--size-s {
    width: 304px;
  }
}
@media (min-width: 1440px) {
  .post--size-s {
    width: 384px;
  }
}
@media (min-width: 1024px) {
  .post--size-l {
    width: 468px;
  }
}
@media (min-width: 1440px) {
  .post--size-l {
    width: 588px;
  }
}
.post--onTablet {
  display: none;
}
@media (min-width: 768px) {
  .post--onTablet {
    display: block;
  }
}
.post__image-container {
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 16px;
}
.post__image-container img {
  width: 100%;
}
.post__image-categories {
  display: flex;
  flex-direction: column;
}
.post__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.post__title {
  margin-bottom: 4px;
  display: flex;
  align-self: stretch;
  font-family: "Montserrat-semibold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #333;
}
.post__author {
  margin-bottom: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #494949;
}
.post__text {
  margin-bottom: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #333;
}
@media (min-width: 414px) {
  .post__text {
    margin-bottom: 62px;
  }
}
.post__date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #868686;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
}
@media (min-width: 768px) {
  .post-list {
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .post-list {
    gap: 23px;
  }
}
@media (min-width: 768px) {
  .post-list--first-2-posts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .post-list--first-2-posts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}
@media (min-width: 768px) {
  .post-list--rest-of-posts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .post-list--rest-of-posts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
  }
}
@media (min-width: 1440px) {
  .post-list--rest-of-posts {
    row-gap: 23px;
  }
}

.btn {
  margin: 0 auto;
  padding: 12px 16px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  background-color: #35B3A9;
  border-radius: 4px;
  font-family: "Montserrat-bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.btn:hover {
  background-color: #18605a;
  color: whitesmoke;
}
.btn--more {
  width: 182px;
  color: #FFF;
}
.btn--details {
  width: 100%;
  color: #FFF;
  border: none;
}
.btn--buy {
  margin: 0;
  width: 108px;
  border: none;
  color: #FFF;
}
.btn--header {
  margin: 0;
  display: none;
  padding: 14px 20px;
  align-items: center;
  border-radius: 4px;
  background: #E3F5F5;
  color: #03B2A5;
}
@media (min-width: 1024px) {
  .btn--header {
    display: flex;
    position: absolute;
    right: 0;
  }
}
.btn--bottom {
  margin: 0;
  padding: 20px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  color: #fff;
}

.article__title {
  margin-bottom: 8px;
  font-family: "Montserrat-bold";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}
@media (min-width: 414px) {
  .article__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .article__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 56px;
  }
}
.article__description {
  margin-bottom: 16px;
}
.article__picture {
  width: 100%;
  object-fit: contain;
}
.article__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 414px) {
  .article__block {
    gap: 16px;
  }
}
.article__subtitle {
  font-family: "Montserrat-bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}
.article__picture--h1 {
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 414px) {
  .article__picture--h1 {
    height: 207px;
  }
}
@media (min-width: 768px) {
  .article__picture--h1 {
    height: 331px;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .article__picture--h1--tablet {
    width: 294px;
    height: 182px;
  }
}
.article__quote {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.article__picture--h380 {
  height: 380px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 768px) {
  .article__picture--h380--ontablet {
    width: 294px;
  }
}
.article__picture--h235 {
  height: 235px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.article__picture--h32 {
  height: 32px;
  width: 178px;
  object-position: center;
  object-fit: cover;
  object-position: center;
}
.article__paragraph {
  color: #333;
  font-family: "Montserrat-medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.article__paragraph--2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.article__paragraph--3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .article__paragraph--3 {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
.article__paragraph--4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 414px) {
  .article__paragraph--4 {
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .article__paragraph--4 {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
.article__exercise {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 16px;
}
.article__exercise--yellow {
  background: #FEFAEC;
}
.article__exercise--orange {
  background: #FFF3EB;
}
.article__exercise--green {
  background: rgba(3, 178, 165, 0.1);
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 4px;
}
.description--desktop {
  display: none;
}
@media (min-width: 1440px) {
  .description--desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
  }
}
.description__item {
  color: #494949;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.description__item--blue {
  color: #2963A3;
}

.mb-16 {
  margin-bottom: 16px;
}
@media (min-width: 414px) {
  .mb-16 {
    margin-bottom: 24px;
  }
}
.mb-40 {
  margin-bottom: 40px;
}
@media (min-width: 414px) {
  .mb-40 {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .mb-40 {
    margin-bottom: 36px;
  }
}
.mb-60 {
  margin-bottom: 60px;
}
@media (min-width: 414px) {
  .mb-60 {
    margin-bottom: 127px;
  }
}
@media (min-width: 768px) {
  .mb-60 {
    margin-bottom: 59px;
  }
}
@media (min-width: 1440px) {
  .mb-48 {
    margin-bottom: 48px;
  }
}

.circle {
  width: 24px;
  height: 24px;
}
.circle--psyhologist {
  width: 20px;
  height: 20px;
}

.marker-list__title {
  margin-bottom: 8px;
  font-family: "Montserrat-bold";
  font-weight: 700;
  line-height: 24px;
  color: #050404;
}
.marker-list {
  display: flex;
  gap: 8px;
  color: #333;
  font-weight: 500;
  line-height: 24px;
}
.marker-list--underline {
  text-decoration-line: underline;
}
.marker-list--psyhologist {
  gap: 4px;
}
.marker-list__item {
  color: #333;
  font-family: "Montserrat-medium";
  font-weight: 500;
  line-height: 24px;
}
.marker-list__item--underline {
  text-decoration-line: underline;
}
.marker-list__item--psyhologist {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333;
}

.quote--bluebgr {
  padding: 26px 16px 16px;
  border-radius: 16px;
  background: url("../images/quote/quote.png"), #F3F7FE;
  background-size: 24px 36px, 100%;
  background-position: top 16px left 16px, center;
  background-repeat: no-repeat;
}
.quote__text {
  color: #333;
  font-family: "Montserrat-italic";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.quote__author {
  font-family: "Montserrat-bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.quote--redspot {
  height: 176px;
  padding: 8px 0 0;
  /* margin-bottom: 16px; */
  /*  */
  align-content: center;
  background-image: url("../images/quote/redspot.svg#redspot");
  background-size: 240px 168px;
  background-position: top 4px center;
  background-repeat: no-repeat;
}
.quote__text--redspot {
  text-align: center;
}
@media (min-width: 768px) {
  .quote__text--redspot {
    padding: 24px 103px 48px 141px;
  }
}

.caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: 0.25px;
  color: #868686;
}

.exercise__title {
  color: #333;
  font-family: "Montserrat-bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.exercise__text {
  color: #333;
  font-family: "Montserrat-medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.design {
  height: 32px;
  background-image: url("../images/page_designe/designe.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .card {
    width: calc(50% - 8px);
  }
}
@media (min-width: 1024px) {
  .card {
    width: 222px;
  }
}
@media (min-width: 1440px) {
  .card {
    width: 282px;
  }
}
.card__gift {
  padding-top: 60px;
  height: 292px;
  border-radius: 16px;
  text-align: center;
  font-family: "Montserrat-bold";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #FFF;
  background-color: #2963A3;
  background-image: url("../images/card__gift/redbox.png"), url("../images/card__gift/yellowbox.png"), url("../images/card__gift/bluebox.png"), url("../images/card__gift/gift.png");
  background-position: bottom right, bottom left 10px, bottom right, top;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .card__gift {
    height: 248px;
  }
}
.card__appointment {
  padding: 24px 25px;
  border-radius: 16px;
  background-color: #E6F0FD;
}
.card__psyhologist {
  padding: 16px 19px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid #DEDEDE;
  background: #FFF;
}
.card__tariff {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  background-image: url("../images/card__tariff/tariff-bluebox.png"), url("../images/card__tariff/tariff-redbox.png");
  background-position: bottom 0 right 0, bottom 0 right 42px;
  background-repeat: no-repeat;
}
@media (min-width: 414px) {
  .card__tariff {
    padding: 24px;
  }
}

.psyhologist__container-categories {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.psyhologist__foto-container {
  height: 120px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
}
.psyhologist__facts {
  padding: 0 19px;
  border-bottom: 1px solid #DEDEDE;
}
.psyhologist__work-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.work-list__subtitle {
  font-size: 16px;
  font-family: "Montserrat-bold";
  font-weight: 700;
  line-height: 24px;
  color: #333;
}

.facts__name {
  color: #333;
  text-align: center;
  font-family: "Montserrat-bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.facts__profesion {
  text-align: center;
  font-family: "Montserrat-semibold";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #333;
}
.facts__details {
  margin-bottom: 16px;
  color: #A2A7B1;
  font-family: "Montserrat-medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.appointment__img {
  margin-bottom: 24px;
  height: 206px;
  background-image: url("../images/appoitment/app-img.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}
.appointment__title {
  margin-bottom: 11px;
  text-align: center;
  font-family: "Montserrat-bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #333;
}
.appointment__text {
  margin-bottom: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333;
}

.tariff__subtitle {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
}
.tariff__subtitle--amt {
  font-size: 24px;
  color: #2963A3;
  font-family: "Montserrat-bold";
  font-weight: 700;
  line-height: 32px;
}
.tariff__subtitle--type {
  font-size: 18px;
  color: #2963A3;
  font-family: "Montserrat-bold";
  font-weight: 700;
  line-height: 26px;
}
.tariff__description {
  display: flex;
  align-self: stretch;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #333;
}
.tariff__price {
  font-size: 24px;
  font-family: "Montserrat-bold";
  font-weight: 700;
  line-height: 32px;
  color: #333;
}

@media (min-width: 1024px) {
  .wrap {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.find-psychologist {
  background-image: url("../images/page_designe/redspot-bottom.png"), url("../images/page_designe/blue-design-bottom.png");
  background-position: top 72px right 0px, bottom;
  background-repeat: no-repeat;
  background-size: 73px, 100%;
}
.find-psychologist__card {
  width: 348px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.find-psychologist__title {
  margin-bottom: 24px;
  font-family: "Montserrat-bold";
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.find-psychologist__text {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.find-psychologist__img {
  width: 520px;
  height: 330px;
  display: flex;
  justify-content: end;
  background-image: url("../images/page_designe/bottom-people.png"), url("../images/page_designe/bottom-people-spot.png");
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
}
.find-psychologist__content {
  display: none;
}
@media (min-width: 1440px) {
  .find-psychologist__content {
    display: flex;
    padding-right: 0px;
    padding-bottom: 107px;
    padding-top: 72px;
    border-top: 1px solid #DEDEDE;
    gap: 339px;
  }
}

.footer {
  padding: 35px 0;
  background-color: #2963A3;
}
@media (min-width: 1024px) {
  .footer__Tablet--l {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .footer__Tablet--s {
    display: flex;
    flex-direction: row;
    gap: 31px;
  }
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.footer__nav {
  margin-bottom: 23px;
}
@media (min-width: 1024px) {
  .footer__nav {
    margin-bottom: 24px;
  }
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}
.footer-nav__link {
  font-family: "Montserrat-bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #FFF;
}
.footer__newsletter {
  margin: 0 0 8px;
}
.footer__subscribe {
  margin-bottom: 12px;
  position: relative;
}
.footer__arrangment {
  margin-bottom: 5px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  opacity: 0.7;
  color: #fff;
}
.footer__media {
  display: flex;
  flex-direction: column;
}
.footer__member {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer__member {
    margin-bottom: 40px;
  }
}
.footer__socialmedia {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (min-width: 768px) {
  .footer__socialmedia {
    margin-bottom: 26px;
  }
}
.footer__copyright {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 2px solid rgba(157, 157, 157, 0.3);
}
@media (min-width: 768px) {
  .footer__copyright {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 48px;
  }
}

.newsletter {
  font-family: "Montserrat-bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #FFF;
}

.subscribe {
  width: 100%;
  background: #FFF;
  background-clip: border-box;
  border-radius: 4px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .subscribe {
    width: 384px;
  }
}
.subscribe__input {
  padding: 14px 52px 14px 16px;
  outline: none;
  border: none;
}
.subscribe__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #9d9d9d;
}

.send {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0;
  width: 64px;
  background: url("../images/send/send.png"), #16c8bb;
  background-size: 24px, cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 4px;
}
@media (min-width: 414px) {
  .send {
    display: block;
  }
}

.socialmedia__icons {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFF5FB;
  border-radius: 60px;
}

.copyright__list {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.3);
}

/*# sourceMappingURL=style.css.map */
