.article {
  &__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333;

    @include onMobile-l {
      font-size: 32px;
      line-height: 40px
    }

    @include onTablet {
      margin-bottom: 16px;

      font-size: 48px;
      line-height: 56px;
    }
  } 

  &__description {
    margin-bottom: 16px;
  }

  &__picture {
    width: 100%;

  }

 


  &__picture--h160 {
    
      height: 160px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    &__picture--h331 {
    
      height: 331px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

  &__picture--h380 {
      height: 380px;
      width: 100%;
      object-fit: cover;
      object-position: center;

      &--ontablet {
        @include onTablet {
          width: 294px;
        }
      }
    }

    &__picture--h235 {
    
      height: 235px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    &__picture--h32 {
          
      height: 32px;
      width: 178px;
      object-position: center;
      object-fit: cover;
      object-position: center;
    }
    
  &__paragraph--quote {
    margin-bottom: 40px;

    @include onMobile-l {
      margin-bottom: 24px;
    }
  }

  &__block {
    &--mb-16 {
        margin-bottom: 16px;

      }

    &--mb-8 {
      margin-bottom: 8px;
      
    }

    &--mb-24 {
        @include onMobile-l {
          margin-bottom: 24px;
        }

        @include onTablet {
          margin-bottom: 24px;
        }
    }
    
  }

  &__subtitle {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    
    color: #333;
        @include onMobile-l {
          margin-bottom: 16px;
        }

  }

  &__paragraph {
    margin-bottom: 8px;
    color:  #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
         
    @include onMobile-l {
            margin-bottom: 16px;
          }
    &--3-ontablet{
      @include onTablet {
          display: flex;
          gap: 16px;
    }

    }
    }

    &__quote {
      margin-bottom: 16px;
  }

  &__exercise {

    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;

    @include onTablet {
      margin-bottom: 24px;
    }
  

      &--yellow {
        background: #FEFAEC;
    }

      &--orange {
      background: #FFF3EB;
    }

      &--green {
        background: rgba(3, 178, 165, 0.10);
    }
  }

}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 4px;


    &__item {
      color: #494949;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    &__item--blue {
      color: #2963A3;
    }
}