.article {
  &__title {
    margin-bottom: 8px;
    font-family: 'Montserrat-bold';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333;

    @include onMobile-l {
      font-size: 32px;
      line-height: 40px
    }

    @include onTablet {
      margin-bottom: 16px;

      font-size: 48px;
      line-height: 56px;
    }
  } 

  &__description {
    margin-bottom: 16px;
  }

  &__picture {
    width: 100%;
    object-fit: contain;

  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include onMobile-l {
      gap: 16px;
    }
  }
 &__subtitle {
  font-family: 'Montserrat-bold';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #000;
 }


  &__picture--h1 {
    
      height: 160px;
      width: 100%;
      object-fit: cover;
      object-position: center;

      @include onMobile-l {
        height: 207px;
      }

      @include onTablet {
        height: 331px;
        object-fit: cover;
      }

      &--tablet {
        @include onTablet {
          width: 294px;
          height: 182px;
        }
       
      }



      
  }
    &__quote {
      display: flex;
      flex-direction: column;
      gap: 8px;

    }

  &__picture--h380 {
      height: 380px;
      width: 100%;
      object-fit: cover;
      object-position: center;

      &--ontablet {
        @include onTablet {
          width: 294px;
        }
      }
    }

    &__picture--h235 {
    
      height: 235px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    &__picture--h32 {
          
      height: 32px;
      width: 178px;
      object-position: center;
      object-fit: cover;
      object-position: center;
    }
    
  

  

  &__paragraph {

    color:  #333;
    font-family: 'Montserrat-medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    &--2 {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

   &--3{
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include onTablet {
          display: flex;
          flex-direction: row;
          gap: 16px;
    }
    }

    &--4 {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include onMobile-l {
        gap: 24px;
      }

      @include onTablet {
        display: flex;
        flex-direction: row;
        gap: 16px;

      }

     

    }


    }



  &__exercise {


    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;


  

      &--yellow {
        background: #FEFAEC;
    }

      &--orange {
      background: #FFF3EB;
    }

      &--green {
        background: rgba(3, 178, 165, 0.10);

        
    }
  }

}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 4px;

    &--desktop{
      display: none;

      @include onDekstop {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
     
      column-gap: 8px;
      }
    }


    &__item {
      color: #494949;
    
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    &__item--blue {
      color: #2963A3;
    }
}