
.btn {
  margin: 0 auto;
  padding: 12px 16px;
  
  width: 182px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: #35B3A9;
  border-radius: 4px;

  &--more{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    color: #FFF;
  }

  &--details{
    width: 100%;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    color: #FFF;
    border: none;
  }
}