
.card {
  

  @include onTablet {
    width: calc(50% - 8px);
    }

    @include onTablet-l {
      width: 222px;
      }

      @include onDekstop{
        width: 282px;
      }


  
  
  &__gift{
    padding-top: 60px;
    height: 292px;

    border-radius: 16px;

    text-align: center ;
    font-family: 'Montserrat-bold';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #FFF;

    background-color: #2963A3;
    background-image: url('../images/card__gift/redbox.png'), url('../images/card__gift/yellowbox.png'), url('../images/card__gift/bluebox.png'), url('../images/card__gift/gift.png');
    background-position: bottom right, bottom left 10px, bottom right, top;
    background-repeat: no-repeat;

    @include onTablet {
      height: 248px;
    }
  }

  &__appointment{
    padding: 24px 25px;

    border-radius: 16px;
    background-color: #E6F0FD;

  }

  &__psyhologist{
  padding: 16px 19px 36px;
  display: flex;


  flex-direction: column;
  align-items: center;
  gap: 16px;

  border-radius: 16px;
  border: 1px solid #DEDEDE;

  background: #FFF;
  }

  &__tariff{
    
    padding: 16px;
    display: flex;


    flex-direction: column;
    gap: 16px;

    border-radius: 16px;
    border: 1px solid #DEDEDE;
    background: #FFF;

    background-image: url('../images/card__tariff/tariff-bluebox.png'), url('../images/card__tariff/tariff-redbox.png');
    background-position: bottom 0 right 0, bottom 0 right 42px;
    background-repeat: no-repeat;

    @include onMobile-l {
      padding: 24px;
    
    }

  }

}
