.categories {
  display: flex;
  gap: 8px;
  overflow-x: scroll;
  width: max-content;

  @include onTablet {
    display: flex;
    flex-wrap: wrap;
    width: auto;
 
  }

 &::-webkit-scrollbar {
     display: none;

 }
 
 &__filter {
  position: absolute;
  top: 8px;
  left: 8px;

  &--psyhologist {
    position: absolute;
    top: -8px;
    left: 0px;
    }
}

 
  
  &__link__post {
    display: inline-flex;
    padding: 6px 8px;
    margin-bottom: 8px;
    align-items: flex-start;
    gap: 4px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.70);
  }

  &__link__post--psyhologist {
    display: inline-flex;
    padding: 0px 6px;
    margin-bottom: 8px;
    align-items: flex-start;
    gap: 4px;
    
    background: rgba(243, 244, 248, 0.70);
  }
  
 
 &__link {
     padding: 6px 8px;
     width: max-content;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 4px;
     
     color: #333;
     font-family: 'Montserrat-semibold';
     font-size: 14px;
     font-weight: 600;
     line-height: 20px;
     border-radius: 24px;
     border: 1px solid #C1C5CD;
 }
 
 
 &__link--smile::before {
     content: "";
     display: block;
     width: 18px;
     height: 18px;
     background-image: url("/images/categories-link/smile.png");
 }
 
 &__link--unicorn::before {
     content: "";
     display: flex;
     justify-content: center;
     align-items: center;
     width: 18px;
     height: 18px;
     padding: 1px;
     background-image: url("/images/categories-link/unicorn.png");

 }

 &__link--unicorn--self {
    @include onMobile-l {
        border: 2px solid #16C8BB;
     }
 }

 &__link--psyhologist {
    padding: 0px 6px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    color: #333;
    font-family: 'Montserrat-medium';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 6px;
    border: none;

 }

&__link--paper::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 24px;
    
    background-image: url("/images/card__psyhologist/paper.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }

 &__link--camera::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 24px;
    
    background-image: url("/images/card__psyhologist/camera.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
}
