.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 320px;
  overflow: hidden;

  @include onMobile-l {
    width: 414px;
      padding: 0 20px;
  }

  @include onTablet {
    width: 768px;
    padding: 0 20px;
  }

  @include onTablet-l {
    width: 1024px;
    padding: 0 32px;
  }

  @include onDekstop {
    width: 1440px;
    padding: 0 120px;

    background-image: url('/images/page_designe/redspot-center.png');
    background-position: top 2148px right 0;
    background-repeat: no-repeat;

  }

  &--designe {
    @include onDekstop {
      background-image: url('/images/page_designe/blue-design.svg');
      background-position: 0 256px;
      background-repeat: no-repeat ;
      backface-visibility: hidden;
    }
  }
  
  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onTablet {
      display: flex;
      flex-direction: unset;
      flex-wrap: wrap;
      column-gap: 16px;
      row-gap: 36px;
    }

    @include onTablet-l {
      display: flex;
      flex-direction: column;
      gap: 24px;
  
    }


  
  
  }

  &__paragraph {

    display: flex;
    flex-direction: column;
    gap: 8px;

    @include onMobile-l {
      gap: 16px;
    }

    @include onTablet{
      display: flex;
    }
    
  }

 &--wrap {
  display: flex;
  flex-direction: row;
  gap: 24px;

  @include onDekstop {
    gap: 228px;
  }
 
  }
 
  &--ontablet-l {
    @include onTablet-l {
      margin-bottom: 71px;
    }

    @include onDekstop {
      margin-bottom: 0px;
    }
  }




}