.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 320px;
  overflow: hidden;

  @include onMobile-l {
    width: 414px;
      padding: 0 20px;
  }

  @include onTablet {
    width: 768px;
    padding: 0 20px;
  }
}