.find-psychologist {
  background-image: url('images/page_designe/redspot-bottom.png'), url('images/page_designe/blue-design-bottom.png');
  background-position: top 72px right 0px, bottom;
  background-repeat: no-repeat;
  background-size: 73px, 100%;

  &__card {
    width: 348px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 24px;

    font-family: 'Montserrat-bold';
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  &__text {
    margin-bottom: 32px;

    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  
  &__img {
    width: 520px;
    height: 330px;
    display: flex;
    justify-content: end;
    background-image: url('images/page_designe/bottom-people.png'), url('images/page_designe/bottom-people-spot.png');
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative; 
  }

  &__content {
    display: none;

     @include onDekstop {
      display: flex;
      padding-right: 0px;
      padding-bottom: 107px;
      padding-top: 72px;
      border-top: 1px solid #DEDEDE;
      gap: 339px;

      

 
     }
  }
}