.footer {
    padding: 35px 0;
    background-color: #2963A3;

    &__Tablet{
        @include onTablet{
            display: flex;
            flex-direction: row;
            gap: 31px;
        }
       
    }

    &-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include onTablet{
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }

    &__nav {
        margin-bottom: 23px;
    }

    &-nav__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
    }

    &-nav__link {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color:#FFF
    }

    &__newsletter {
        margin: 0 0 8px;
    }

    &__subscribe {
        margin-bottom: 12px ;
        position: relative;
    }

    &__arrangment {
        margin-bottom: 5px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; 
        letter-spacing: 0.25px;
        opacity: 0.7;
        color: #fff;
    }
    
    &__member {
        margin-bottom: 20px;
    }
    
    &__socialmedia {
       height: 52px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        border-bottom: 2px solid rgba(157,157,157,0.3);
    }

    &__copyright{
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include onTablet{
            display: flex;
            flex-direction: row;
            gap: 48px;
        }
    }
    
}

.newsletter {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #FFF;
}
.subscribe {
    width: 100%;  
    background: #FFF;
    background-clip: border-box;
    border-radius: 4px;
    overflow: hidden;

    @include onTablet{
        width: 384px;
    }


    &__input {
        padding: 14px 52px 14px 16px;
        outline: none;
        border: none;
    }

    &__input::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #9d9d9d;
    }
}

.send {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
       
    width: 64px;
    background:  url('/images/send/send.png'), #16c8bb;
    background-size: 24px, cover;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    border-radius: 4px;

    @include onMobile-l {
        display: block;
    }
}

.socialmedia__icons {
    width: 32px;
    height: 32px;
   
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:  #EFF5FB;
    border-radius: 60px;
}

.copyright__list {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255,255,255,0.3);
}