
.headline {
  margin-bottom: 59px;
 }
 
 .headline__title {
     margin-bottom: 24px;
     
     font-weight: bold;
     font-size: 24px;
 }
 
 .headline__categories {
     margin-bottom: 24px;
 }
 
 .headline__post-list {
     margin: 0 0 28px;
 }
 
 .categories {
     display: flex;
     gap: 8px;
     overflow-x: scroll;
     width: max-content;
 }
 
 .categories::-webkit-scrollbar {
     display: none;
 }
 
 
 .categories__item {
 
 }
 
 .categories__link {
     padding: 6px 8px;
     width: max-content;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 4px;
     
     color: #333;
     font-size: 14px;
     font-weight: 600;
     line-height: 20px;
     border-radius: 24px;
     border: 1px solid #C1C5CD;
 }
 
 .categories__link--smile::before {
     content: "";
     display: block;
     width: 18px;
     height: 18px;
     background-image: url("/images/icons/smile.png");
 }
 
 .categories__link--unicorn::before {
     content: "";
     display: flex;
     justify-content: center;
     align-items: center;
     width: 18px;
     height: 18px;
     padding: 1px;
     background-image: url("/images/icons/unicorn.png");
 }