.header {
  display: flex;
  width: 100%;
  height: 56px;
  border: 1px solid #eff5fb;

  @include onMobile-l{
    height: 72px;
  }

  @include onTablet-l {
    height: 76px;

  }

  &__content {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include onTablet-l {
      justify-content: unset;
      position: relative;
    }

   }

  &__burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    @include onTablet-l {
      display: none;
    }
  }
  
  &__burger-menu-container {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;


  }
}

.logo {
  display: flex;
  width: 48px;
  height: 34px;

  &-container {
    width: 48px;
    height: 34px;
  }
}


