.page {
  font-family: "Montserrat", sans-serif;

  &--index {
    @include onDekstop {
      background-image: url("../images/page_designe/blue-design.svg");
      background-size: 100% auto;

      background-position: center 401px;
      background-repeat: no-repeat;
  
    }
  }

  &--post {
    @include onDekstop {
      background-image: url("../images/page_designe/redspot-center.png"), url("../images/page_designe/blue-design-bottom.png");

      background-position: right top 2480px, center bottom;
      background-repeat: no-repeat;
  
    }
  }

  &__header {
    margin-bottom: 24px;

    @include onMobile-l {
      margin-bottom: 16px;
    }
  }
  
  &__breadcrumbs {
    margin: 0 0 24px;

    @include onMobile-l {
      margin: 0 0 32px;
    }

    @include onTablet {
      margin: 0 0 40px;
    }

    @include onDekstop {
      margin: 0 0 30px;
    }

    &--post {
      @include onTablet {
        margin: 0 0 54px;
      }
  }
  }
  
  &__headline  {
    &--home {
        margin-bottom: 59px;

        @include onTablet {
          margin-bottom: 55px;
        }
    
        @include onTablet-l {
          margin-bottom: 60px;
        }
    
        @include onDekstop {
          margin-bottom: 96px;
        }
    }

    
  }
}

