
.post {
  display: block;
  position: relative;
  border: 1px solid #dedede;
  border-radius: 16px;
  overflow: hidden;
  
  &--size-s {
    @include onTablet {
      display: block;
      width: 352px;
    }
  }

  &--onTablet {
    display: none;
    @include onTablet {
      display: block;
  }
}

  &__image-container {
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 16px;
  
    & img {
      width: 100%;
    }
  }
  
  &__image-categories {
    display: flex;
    flex-direction: column;
  }
  
  &__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  }
  
  &__title {
    margin-bottom: 4px;
    display: flex;
    align-self: stretch;
    
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 26px; 
    color: #333;
  }
  
  &__author {
    margin-bottom: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #494949;
  }
  
  &__text {
    margin-bottom: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #333;
  
    @include onMobile-l {
      margin-bottom: 62px;
    }
  }
  
  &__date {
    font-family:"Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.25px;
    color: #868686;
  }
}

