.post-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;

  @include onTablet {
    gap: 24px;
  }

  @include onDekstop {
    gap: 23px;
  }

  &--first-2-posts {
  
    @include onTablet {
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 24px;
    }

    @include onTablet-l {
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      }




  }

  &--rest-of-posts {

    @include onTablet {
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 24px;
    }

    @include onTablet-l {
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 24px;
    }
    
    @include onDekstop {
      row-gap: 23px;
    }
  }

}

