@font-face{
  font-family: "Montserrat";
  src:   
 url("/fonts/montserrat-regular.woff2") format("woff2"),
 url("/fonts/montserrat-regular.ttf") format("truetype");
 font-size: normal;
 font-weight: normal;
}

@font-face{
  font-family: "Open Sans";
  src:   
 url("/fonts/open-sans.woff") format("woff"),
 url("/fonts/open-sans.ttf") format("truetype");
 font-size: normal;
 font-weight: normal;
}

